.vscode/**
.vscode-test/**
.git/**
.gitignore
node_modules/**
src/**
*.vsix
*.vsixmanifest
.eslintrc.json
.prettierrc
.editorconfig
pnpm-lock.yaml
tsconfig.json
webpack.config.js
.eslintignore
.prettierignore
*.log
.DS_Store
Thumbs.db 